#root {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #06175C;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-registrarse {  
  font-size: smaller;
  color: #06175C;
  cursor: pointer;
}
