.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: min-content;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  font-family: Arial, sans-serif;
}

.select-wrapper {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.select-button {
  width: 100%;
  padding: 15px 20px;
  background-color: #06175C;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  transition: all 0.3s ease;
}

.select-button:hover {
  background-color: #0b2885;
}

.plus-icon {
  font-size: 20px;
  margin-right: 10px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.select-options {
  background-color: white;
  border-top: 1px solid #e0e0e0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  animation: slideDown 0.3s ease forwards;
  overflow-y: auto;

}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}

.select-options h3 {
  padding: 15px 20px;
  margin: 0;
  color: #06175C;
  font-size: 18px;
}

.select-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select-options li {
  padding:  0px 20px 5px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.select-options li:hover {
  background-color: #f0f0f0;
}

.select-options button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.selected-options {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.selected-options h2 {
  color: #06175C;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
}

.selected-options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6fa;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.remove-button {
  background: none;
  border: none;
  color: #ff4136;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.remove-button:hover {
  transform: scale(1.2);
}

/* Animaciones adicionales */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.select-button:active {
  animation: pulse 0.3s ease;
}
.opciones-seleccionadas{
   height: 14px;
}